{% extends 'base.html.twig' %}

{% block title %}Connexion | Marmignon Brothers{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <img src="{{ asset('build/images/MB-logo.svg') }}" alt="">
    <div class="form form__email">
    <label for="inputEmail" class="josefin-label josefin-label--brown">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    </div>
    <div class="form form__password">
    <label for="inputPassword" class="josefin-label josefin-label--brown">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button class="regular-filled-btn regular-filled-btn--filled-yellow form__submit-btn" type="submit">
        Me connecter
    </button>
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
