{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('add_training') }}
{% endblock %}

{% block body %}

    <h1 class="admin-add-formation__title roboto-h2 roboto-h2--blue">Ajouter une formation</h1>
    
    <div class="admin-add-formation__wrapper">
        <div class="add-formation__form">
            {{ form_start(trainingForm) }}
                {{ form_row(trainingForm.name, {'row_attr': { 'class' :'form form__name'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                {{ form_row(trainingForm.description, {'row_attr': { 'class' :'form form__description'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                {{ form_row(trainingForm.date, {'row_attr': { 'class' :'form form__duration'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                {{ form_row(trainingForm.duration, {'row_attr': { 'class' :'form form__duration'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                {{ form_row(trainingForm.location, {'row_attr': { 'class' :'form form__location'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                {{ form_row(trainingForm.teacher, {'row_attr': { 'class' :'form form__location'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                <button type="submit" class="regular-filled-btn regular-filled-btn--filled-yellow form__submit-btn">{{'buttons.add_training'|trans}}</button>
            {{ form_end(trainingForm) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('add_training') }}
{% endblock %}