{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('training') }}
{% endblock %}

{% block body %}
        <a href="{{ path('trainings') }}" class="regular-link regular-link--large regular-link--prev regular-link--black formations-details__back-btn">{{ 'buttons.back.trainings'|trans }}</a>
        <section class="formations-details__header">
            <h1 class="roboto-h1 roboto-h1--blue">{{ training.name }} - {{training.date|date("d/m/Y", "Europe/Paris")}}</h1>
            {% if is_granted("ROLE_ADMIN") %}
            <a href="{{path('edit_training', {'id' : training.id})}}" class="edit-icon edit-icon--filled-blue"></a>
            <a href="{{path('delete_training', {'id' : training.id})}}" class="delete-icon delete-icon--filled-blue"></a>
            {% endif %}
        </section>
        <section class="formations-details__infos">
            <div class="teacher">
                <p class="josefin-subtitle josefin-subtitle--grey">{{ 'training.teacher' | trans }}</p>
                <p class="josefin-caption josefin-caption--light josefin-caption--grey teacher__name">{{ training.teacher.firstName }} {{ training.teacher.lastName }}</p>
                {% if is_granted("ROLE_ADMIN") %}
                <div class="teacher__actions">
                    <a href="{{path('edit_training', {'id' : training.id})}}" class="edit-icon edit-icon--filled-blue"></a>
                    <button class="delete-icon delete-icon--filled-blue"></button>
                </div>
                {% endif %}
            </div>
            <p class="josefin-subtitle josefin-subtitle--grey">{{ 'training.duration' | trans }} <span>{{ training.duration|date('H') }}h{{ training.duration|date('i') }}</span></p>
        </section>

        <section class="formations-details__description">
            <h2 class="josefin-subtitle josefin-subtitle--grey">{{ 'training.description' | trans }}</h2>
            <p class="josefin-caption josefin-caption--regular josefin-caption--grey">
                {{ training.description }}
            </p>
        </section>

         <section class="documents">
            <div class="documents__header">
                <h2 class="josefin-subtitle josefin-subtitle--grey">Documents de la formation</h2>
                <button class="small-btn small-btn--filled-yellow">Ajouter un document</button>
            </div>
            <div class="documents__body">
                <div class="documents__item">
                    <p class="josefin-caption josefin-caption--light josefin-cation--grey">Convention numéro 1234535622</p>
                    <div class="documents__actions">
                        <button class="see-icon see-icon--filled-blue"></button>
                        <button class="edit-icon edit-icon--filled-blue"></button>
                        <button class="delete-icon delete-icon--filled-blue"></button>
                    </div>
                </div>
                <div class="documents__item">
                    <p class="josefin-caption josefin-caption--light josefin-cation--grey">Programme NV-1 courses</p>
                    <div class="documents__actions">
                        <button class="see-icon see-icon--filled-blue"></button>
                        <button class="edit-icon edit-icon--filled-blue"></button>
                        <button class="delete-icon delete-icon--filled-blue"></button>
                    </div>
                </div>
            </div>
        </section>

        {% if is_granted("ROLE_ADMIN") %}
            {% include 'user/list-teaser.html.twig' with {'training' : true, 'session': false, 'participants': training.participants, 'trainingId': training.id} %}
        {% endif %}
        

        <section class="sessions-list">
            <div class="sessions-list__header">
                <h2 class="josefin-subtitle josefin-subtitle--grey">{{ 'training.sessions.list.title' | trans }}</h2>
                <a href="{{path('add_session', { 'id': training.id })}}" class="small-btn small-btn--filled-blue">Ajouter une session</a>
            </div>
            <div class="sessions-list__body">
                {% for session in sessions %}
                    {% include "session/teaser.html.twig" with {'session': session, 'participants': training.participants, 'trainingId': training.id} only %}
                {% endfor %}
            </div>
        </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('training') }}
{% endblock %}