{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('trainings') }}
{% endblock %}

{% block body %}
        <a href={{ path('homepage') }} class="regular-link regular-link--large regular-link--prev regular-link--black formations-list__back-btn">{{ 'buttons.back.home'|trans }}</a>
        
        {% if is_granted('ROLE_ADMIN') %}
        <section>
            <a href={{ path('add_training') }} class="regular-filled-btn regular-filled-btn--filled-blue formations-list__add-btn">Ajouter une formation</a>
        </section>
        {% for training in trainings %}
            {% include 'trainings/teaser.html.twig' with {'training': training} only %}
        {% endfor %}
        {% elseif is_granted('ROLE_USER') %}

        {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trainings') }}
{% endblock %}