{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('add_participant') }}
{% endblock %}

{% block body %}

    <h1 class="admin-add-formation__title roboto-h2 roboto-h2--blue">{{ 'training.add.participants.title'|trans({'trainingName' : training.name })|raw }}</h1>
    
    <div class="admin-add-formation__wrapper">
        <div class="add-formation__form">
            {{ form_start(trainingForm) }}
                {{ form_row(trainingForm.participants, {'row_attr': { 'class' :'form form__name'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                <button type="submit" class="regular-filled-btn regular-filled-btn--filled-yellow form__submit-btn">{{'buttons.add_participant'|trans}}</button>
            {{ form_end(trainingForm) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('add_participant') }}
{% endblock %}