<section class="dropdown-block-header">
    <a href="{{ path('training', { 'id': training.id }) }}" class="josefin-subtitle josefin-subtitle--white">{{ training.name }}</a>
    <div class="dropdown-block-header__actions">
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('edit_training', {'id' : training.id})}}" class="edit-icon edit-icon--filled-white"></a>
        <a href="{{path('delete_training', {'id' : training.id})}}" class="delete-icon delete-icon--filled-white"></a>
    {% endif %}
        <p class="josefin-subtitle josefin-subtitle--white">{{training.date|date("d/m/Y", "Europe/Paris")}}</p>
    </div>
    <div class="dropdown-block-header__status">
    {% if is_granted('ROLE_USER') %}
        <div class="dropdown-block-header__state dropdown-block-header__state--red"></div>
        <p class="josefin-subtitle josefin-subtitle--white">à venir</p>
    {% endif %}
    </div>
</section>
