{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>


    <h1 class="admin-add-user__title roboto-h2 roboto-h2--blue">Ajouter un utilisateur</h1>
    
    <div class="admin-add-user__wrapper">
        <div class="add-user__form">
            {{ form_start(registrationForm) }}

                {{ form_row(registrationForm.firstname, {'row_attr': { 'class' :'form form__firstname'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                {{ form_row(registrationForm.lastname, {'row_attr': { 'class' :'form form__lastname'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                {{ form_row(registrationForm.email, {'row_attr': { 'class' :'form form__email'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                {{ form_row(registrationForm.roles, {'row_attr': { 'class' :'form form__role'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password',
                    'row_attr': { 'class' :'form form__role'}, 
                    'label_attr': {'class': 'josefin-label josefin-label--brown'}
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}
                <button type="submit" class="regular-filled-btn regular-filled-btn--filled-yellow form__submit-btn">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('register') }}
{% endblock %}
