<header class="header">
    <a href={{path('homepage')}}>
    <img class="header__logo" src="{{ asset('build/images/MB-logo.svg') }}" alt="" />
    <a/>
    <nav class="header__nav">
    <ul>
        <li class="header__nav-item puritan-large puritan-large--white is-active"><a href={{ path('homepage') }}>{{ 'menu.home' | trans }}</a></li>
        <li class="header__nav-item puritan-large puritan-large--white"><a href={{ path('trainings') }}>{{ 'menu.trainings' | trans }}</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="header__nav-item puritan-large puritan-large--white"><a href="{{ path('users_list') }}">{{ 'menu.users' | trans }}</a></li>
         {% elseif is_granted('ROLE_USER') %}
            <li class="header__nav-item puritan-large puritan-large--white"><a href="#">Mes justificatifs</a></li>
            <li class="header__nav-item puritan-large puritan-large--white"><a href="#">Mes résultats</a></li>
            <li class="header__nav-item puritan-large puritan-large--white"><a href="#">Mon planning</a></li>
         {% endif %}
         <li class="header__nav-item puritan-large puritan-large--white"><a href="{{ path('app_logout') }}">Me déconnecter</a></li>
    </ul>
</nav>
</header>