/* ----------------------------------- */
/*        ADMIN - ADD FORMATION        *
/* ----------------------------------- */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.admin-add-formation {
  &__title {
    margin: 20px 0 10px 0;
    text-align: center;
    span{
        font-size: 18px;
        font-style: italic;
    }
  }

  &__wrapper {
    width: 460px;

    .add-formation {
      &__form {
        form {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin: 12px 0;

            input {
              width: 97%;
            }

            label {
              margin: 0 0 5px 0;
            }

            #trainings_form_duration{
              display: flex;
              align-items: center;
            }

            &__submit-btn {
              @include center-absolute('x');
              bottom: -60px;
            }
          }
        }
      }
    }
  }
}