/* ------------------------------------- */
/*       ADMIN - FORMATIONS DETAILS      *
/* ------------------------------------- */

@import '../config/variables.scss';
@import '../config/mixins.scss';

  .user-details__back-btn {
    margin: 0 0 0 20px;
  }

  .user-details__header {
    @include center-content-flex();
    width: 100%;
    margin: 30px 0 50px;

    h1 {
      margin: 0 30px 0 0;
    }

    button {
      margin: 0 7px;
    }
  }

  .user-details__infos {
    
    width: 100%;

    ul{
        li{
            margin: 20px 0;
        }
    }

  }