/* ----------------------------------- */
/*        ADMIN - ADD FORMATION        *
/* ----------------------------------- */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.admin-add-formation {
  &__title {
    margin: 20px 0 10px 0;
    text-align: center;
  }

  &__wrapper {
    width: 460px;

    .add-formation {
      &__form {
        form {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .morning-session, .afternoon-session{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            p{
                display: block;
                width: 100%;
            }
            .form{
                display: inline-block;
                width: auto;
                &+.form{
                    margin-left: 30px;
                }
            }
        }
          .form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin: 12px 0;

            input {
              width: 97%;
            }

            label {
              margin: 0 0 5px 0;
            }
            #session_form_date, #session_form_morningStartTime, #session_form_morningEndTime, #session_form_afternoonStartTime, #session_form_afternoonEndTime{
              display: flex;
              align-items: center;
            }

            &__submit-btn {
              @include center-absolute('x');
              bottom: -60px;
            }
          }
        }
      }
    }
  }
}