/* ------------------------------------- */
/*       ADMIN - FORMATIONS DETAILS      *
/* ------------------------------------- */

@import '../config/variables.scss';
@import '../config/mixins.scss';

  .formations-details__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
  }

  .formations-details__back-btn {
    margin: 0 0 0 20px;
  }

  .formations-details__header {
    @include center-content-flex();
    width: 100%;
    margin: 30px 0 50px;

    h1 {
      margin: 0 30px 0 0;
    }

    button {
      margin: 0 7px;
    }
  }

  .formations-details__infos {
    @include center-content-flex('align');
    justify-content: space-between;
    width: 100%;

    .teacher {
      @include center-content-flex('align');

      &__name {
        margin: 0 20px 0;
      }

      &__actions {
        button {
          margin: 0 7px;
        }
      }
    }
  }

  .formations-details__description {
    width: 85%;
    margin: 60px 0 10px;

    h2 {
      margin: 0 0 20px 0;
    }

    p {
      line-height: 22px;
    }
  }