/* ------------------------ */
/*     ADMIN - ADD USER     *
/* ------------------------ */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.admin-add-user {
  &__title {
    margin: 20px 0 10px 0;
    text-align: center;
  }

  &__wrapper {
    width: 460px;

    .add-user {
      &__form {
        form {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin: 12px 0;

            input {
              width: 97%;
            }

            &__birth {
              .birth-select {
                display: flex;
                justify-content: space-between;
                width: 100%;

                select {
                  width: 142px;
                }
              }
            }

            &__role {
              select {
                width: 100%;
              }
            }

            &__submit-btn {
              @include center-absolute('x');
              bottom: -60px;
            }

            label {
              margin: 0 0 5px 0;
            }
          }
        }
      }
    }
  }
}