/* ------------------------ */
/*        ADMIN - HP        *
/* ------------------------ */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.admin-hp {
  &__introduction-block {
    h1 {
      margin: 0 0 20px 0;
    }
  }

  &__actions {
    margin: 78px 0 60px;

    .formation-btn {
      margin: 0 30px 0 0;
    }
  }

  &__blocks {
    margin: 70px 0 0 0;
  }
}