/* ------------------------------------- */
/*        ADMIN - FORMATIONS LIST        *
/* ------------------------------------- */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.formations-list {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__back-btn {
    margin: 0 0 0 20px;
  }

  &__add-btn {
    display: inline-block;
    margin: 40px 0 30px;
  }
}