.main-content{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    form{
        max-width: 500px;
        width: 100%;
        .form{
            text-align: left;
            margin: 12px 0;
        }
        input{
            display: block;
            width: 100%;
        }
    }
}