/* ---------------------------- */
/*       USER - FORMATIONS      *
/* ---------------------------- */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.user-formations {
    &__introduction-block {
      display: flex;
      align-items: center;
  
      .josefin-caption {
        margin: 0 50px;
  
        span {
          margin: 0 30px;
        }
      }
    }

    &__blocks {
        .go-back-link {
            display: inline-block;
            margin: 30px 0 0 20px;
        }

        .sessions-list__body {
            .dropdown-block-body {
                padding: 30px;

                &__top {
                    display: flex;
                    justify-content: space-around;

                    .header__item {
                        position: relative;
                        cursor: pointer;

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: -10px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 250px;
                            height: 2px;
                            background-color: $color-grey-light;
                        }

                        &.is-active {
                            color: $color-yellow;

                            &::before {
                                background-color: $color-yellow;
                            }
                        }
                    }
                }

                &__bottom {
                    min-height: 500px;
                    margin: 50px 0 0 0;

                    .formations-details {
                        display: none;

                        &.is-active {
                            display: block;
                        }

                        &__description {
                            width: 100%;
                            margin: 40px 0;
                        }
                    }

                    .medium-block {
                        &__header {
                            margin: 0 0 50px 0;
                        }
                    }

                    .documents {
                        margin: 0;
                    }

                    .session-details {
                        display: none;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        &.is-active {
                            display: flex;
                        }

                        &__list {
                            display: flex;
                            justify-content: space-evenly;
                            width: 80%;
                            padding: 10px 0;
                            border-top: 1px solid lightgray;
                            border-bottom: 1px solid lightgray;
                        }

                        &__item {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }

                        &__slider-block {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 80%;
                            margin: 50px 0 0 0;
                        }

                        &__carousel {
                            display: flex;
                            align-items: center;
                            width: 100%;

                            .slick-list {
                                width: 100%;
                            }

                            .carousel {
                                &__item {
                                    display: flex !important;
                                    flex-direction: column;
                                    align-items: center;
                                }

                                &__session-wrapper {
                                    display: flex;
                                    margin: 40px auto 0;
                                }

                                &__session {
                                    width: 320px;
                                    padding: 30px;
                                    border: 2px solid lightgray;
                                    border-radius: 10px;
                                    text-align: center;
                                }

                                &__session-text {
                                    margin: 20px 0;
                                }

                                &__session-paper {
                                    margin: 0 0 10px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.sign-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;

    &.is-active {
        display: flex;
    }

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 690px;
        height: 820px;
        background-color: $color-white;
        border-radius: 10px;
        box-shadow: 1px 1px 23px 5px rgba(0,0,0,0.3);
    }

    &__session {
        margin: 10px 0;
    }

    &__paper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img {
        margin: 20px 0;
    }

    .close-sign-btn {
        position: absolute;
        top: 0px;
        right: 0px;
        background: none;
        border: none;
        cursor: pointer;
    }

    &__signature-block {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;

        .signature-block {
            &__signature {
                width: 210px;
                height: 100px;
                border: 1px solid $color-blue-dark;
                border-radius: 10px;
            }
        }
    }
}