/* ---------------------------- */
/*        USER - HOMEPAGE       *
/* ---------------------------- */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.user-hp {
  &__introduction-block {
    display: flex;
    align-items: center;

    .josefin-caption {
      margin: 0 50px;

      span {
        margin: 0 30px;
      }
    }
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 0 0;

    .signatures-list__item {
      width: 100%;
  
      .dropdown-block-header {
        width: 100%;
        margin: 30px 0 0 0;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
  
      .dropdown-block-body {
        width: 100%;
        padding: 0;

        .documents {
          width: 70%;
          margin: 0;      
        }
      }
    }
  }
}