{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block title %}Accueil | Marmignon{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'admin/introduction.html.twig' only %}
        <section class="medium-block">
            <h2 class="roboto-h2 roboto-h2--brown">Sessions en cours:</h2>
            <article class="medium-block__header">
                <div class="header__top">
                    <h3 class="roboto-h3 roboto-h3--white">Maintenant:</h3> <span class="josefin-subtitle josefin-subtitle--white">5 mins restantes</span>
                </div>
                <div class="header__bottom">
                    <p class="josefin-caption josefin-caption--light josefin-caption--white">Formation Anglais NV1 - Session 9h-12h</p>
                    <button class="small-btn small-btn--filled-white">Lancer la signature</button>
                </div>
            </article>
            <article class="medium-block__body">
                <h3 class="roboto-h3 roboto-h3--grey">Autres sessions:</h3>
                <div class="body__item">
                    <p class="josefin-caption josefin-caption--light josefin-caption--grey">Session 3: 22/01/2021 - 9h-12h</p>
                    <button class="small-btn small-btn--filled-blue">Signature lancée</button>
                </div>
                <div class="body__item">
                    <p class="josefin-caption josefin-caption--light josefin-caption--grey">Session 4: 24/01/2021 - 13h-15h</p>
                    <button class="small-btn small-btn--filled-blue">Signature lancée</button>
                </div>
            </article>
        </section>
    {% elseif is_granted('ROLE_USER') %}
        <div class="introduction-block user-hp__introduction-block">
        <h1 class="roboto-h3 roboto-h3--white">Prochaine session:</h1>
        <p class="josefin-caption josefin-caption--white">Anglais - NV1 <span>12/20/2021</span></p>
        <button class="regular-filled-btn regular-filled-btn--bordered-white">Cliquez ici</button>
    </div>

    <div class="user-hp__blocks">
        <div class="medium-block">
            <h2 class="roboto-h2 roboto-h2--brown">Documents restants à signer:</h2>
            <div class="medium-block__header">
                <div class="header__top">
                    <h3 class="roboto-h3 roboto-h3--white">Maintenant:</h3> <span class="josefin-subtitle josefin-subtitle--white">5 mins restantes</span>
                </div>
                <div class="header__bottom">
                    <p class="josefin-caption josefin-caption--light josefin-caption--white">Formation Anglais NV1 - Session 9h-12h</p>
                    <button class="small-btn small-btn--filled-white">Cliquez ici pour signer</button>
                </div>
            </div>
            <div class="medium-block__body">
                <h3 class="roboto-h3 roboto-h3--grey">Avant le 22 janvier: 12 jours restants</h3>
                <div class="body__item">
                    <p class="josefin-caption josefin-caption--light josefin-caption--grey">Convention - Anglais NV2</p>
                    <button class="small-btn small-btn--filled-yellow">Cliquez ici pour signer</button>
                </div>
                <div class="body__item">
                    <p class="josefin-caption josefin-caption--light josefin-caption--grey">Programme - Anglais NV2</p>
                    <button class="small-btn small-btn--filled-yellow">Cliquez ici pour signer</button>
                </div>
            </div>
        </div>

        <div class="small-block">
            <h2 class="roboto-h2 roboto-h2--brown">Vos dernières notes:</h2>
            <p class="roboto-h1 roboto-h1--grey">À VENIR</p>
        </div>

        <div class="large-block">
            <a href="#" class="puritan-medium puritan-medium--grey see-more-link">Voir la formation en détails ></a>
            <h2 class="roboto-h2 roboto-h2--brown large-block__title">Votre dernière formation suivie</h2>
            <h3 class="roboto-h3 roboto-h3--grey large-block__subtitle">Apprendre la langue Anglaise - NV1 - 12/02/2021</h3>
            <div class="documents">
                <div class="documents__body">
                    <div class="documents__item">
                        <p class="josefin-caption josefin-caption--light josefin-cation--grey">Convention numéro 1234535622</p>
                        <div class="documents__actions">
                            <button class="see-icon see-icon--filled-blue"></button>
                            <button class="print-icon print-icon--filled-blue"></button>
                            <button class="share-icon share-icon--filled-blue"></button>
                        </div>
                    </div>
                    <div class="documents__item">
                        <p class="josefin-caption josefin-caption--light josefin-cation--grey">Programme NV-1 courses</p>
                        <div class="documents__actions">
                            <button class="see-icon see-icon--filled-blue"></button>
                            <button class="print-icon print-icon--filled-blue"></button>
                            <button class="share-icon share-icon--filled-blue"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="signatures-list__item">
                <div class="dropdown-block-header">
                    <p class="josefin-subtitle josefin-subtitle--white">Mes feuilles d'émargements</p>
                    <img src="{{ asset('build/images/down-chevron.svg') }}" alt="" />
                </div>
                <div class="dropdown-block-body">
                    <div class="documents">
                        <div class="documents__body">
                            <div class="documents__item">
                                <p class="josefin-caption josefin-caption--light josefin-cation--grey">Session 1: 21/02/2021 - 9h 12h - signé</p>
                                <div class="documents__actions">
                                    <button class="see-icon see-icon--filled-blue"></button>
                                    <button class="print-icon print-icon--filled-blue"></button>
                                    <button class="share-icon share-icon--filled-blue"></button>
                                </div>
                            </div>
                            <div class="documents__item">
                                <p class="josefin-caption josefin-caption--light josefin-cation--grey">Session 2: 23/02/2021 - 14h 18h - signé</p>
                                <div class="documents__actions">
                                    <button class="see-icon see-icon--filled-blue"></button>
                                    <button class="print-icon print-icon--filled-blue"></button>
                                    <button class="share-icon share-icon--filled-blue"></button>
                                </div>
                            </div>
                            <div class="documents__item">
                                <p class="josefin-caption josefin-caption--light josefin-cation--grey">Session 3: 25/02/2021 - 9h 12h - signé</p>
                                <div class="documents__actions">
                                    <button class="see-icon see-icon--filled-blue"></button>
                                    <button class="print-icon print-icon--filled-blue"></button>
                                    <button class="share-icon share-icon--filled-blue"></button>
                                </div>
                            </div>
                            <div class="documents__item">
                                <p class="josefin-caption josefin-caption--light josefin-cation--grey">Session 4: 28/02/2021 - 14h 18h - signé</p>
                                <div class="documents__actions">
                                    <button class="see-icon see-icon--filled-blue"></button>
                                    <button class="print-icon print-icon--filled-blue"></button>
                                    <button class="share-icon share-icon--filled-blue"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}