<section class="introduction-block admin-hp__introduction-block">
    <h1 class="roboto-h2 roboto-h2--white">{{ 'admin.introduction.title' | trans }}</h1>
    <p class="roboto-h3 roboto-h3--white">{{ 'admin.introduction.description' | trans }}</p>
</section>
<section class="admin-hp__actions">
    <a href="{{ path('app_register') }}" class="regular-filled-btn regular-filled-btn--filled-blue formation-btn">{{ 'buttons.add_user' | trans }}</a>
    <a href="{{ path('add_training') }}" class="regular-filled-btn regular-filled-btn--filled-blue user-btn">{{ 'buttons.add_training' | trans }}</a>
</section>