{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('add_session') }}
{% endblock %}

{% block body %}

    <h1 class="admin-add-formation__title roboto-h2 roboto-h2--blue">Modifer la session : {{session.name}}</h1>
    
    <section class="admin-add-formation__wrapper">
        <article class="add-formation__form">
            {{ form_start(sessionForm) }}
                {{ form_row(sessionForm.name, {'row_attr': { 'class' :'form form__name'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                {{ form_row(sessionForm.date, {'row_attr': { 'class' :'form form__date'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                <div class="morning-session">
                    <p class="'josefin-label josefin-label--brown'">Heure de la session du matin:</p>
                    {{ form_row(sessionForm.morningStartTime, {'row_attr': { 'class' :'form form__start'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                    {{ form_row(sessionForm.morningEndTime, {'row_attr': { 'class' :'form form__end'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                </div>
                <div class="afternoon-session">
                <p class="'josefin-label josefin-label--brown'">Heure de la session de l'après-midi:</p>
                    {{ form_row(sessionForm.afternoonStartTime, {'row_attr': { 'class' :'form form__start'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                    {{ form_row(sessionForm.afternoonEndTime, {'row_attr': { 'class' :'form form__end'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                </div>
                {{ form_row(sessionForm.description, {'row_attr': { 'class' :'form form__description'}, 'label_attr': {'class': 'josefin-label josefin-label--brown'} } ) }}
                <button type="submit" class="regular-filled-btn regular-filled-btn--filled-yellow form__submit-btn">{{ 'session.edit.submit'|trans }}</button>
            {{ form_end(sessionForm) }}
        </article>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('add_session') }}
{% endblock %}