
<article class="sessions-list__item">
    <div class="dropdown-block-header">
        <p class="josefin-subtitle josefin-subtitle--white">{{session.name}}</p>
        <div class="dropdown-block-header__actions">
            <a href="{{ path('edit_session', {'id': session.id}) }}" class="edit-icon edit-icon--filled-white"></a>
            <a href="{{ path('delete_session', {'id': session.id}) }}" class="delete-icon delete-icon--filled-white"></a>
            <p class="josefin-subtitle josefin-subtitle--white">{{session.date|date("d/m/Y", "Europe/Paris")}}</p>
        </div>
        <div class="dropdown-block-header__status">
            <div class="dropdown-block-header__state dropdown-block-header__state--orange"></div>
            <p class="josefin-subtitle josefin-subtitle--white">en cours</p>
        </div>
        <img src="{{ asset('build/images/down-chevron.svg') }}" alt="" />
    </div>
    <article class="dropdown-block-body">
        <div class="dropdown-block-header__sign">
            <p class="josefin-subtitle josefin subtitle--blue">Feuille d'émargement de la session:</p>
            <div class="dropdown-block-body__actions">
                <button class="see-icon see-icon--filled-blue"></button>
                <button class="edit-icon edit-icon--filled-blue"></button>
                <button class="delete-icon delete-icon--filled-blue"></button>
            </div>
        </div>
            <div class="formations-details__description">
            <h2 class="josefin-subtitle josefin-subtitle--grey">{{ 'session.description' | trans }}</h2>
            <p class="josefin-caption josefin-caption--regular josefin-caption--grey">
                {{ session.description }}
            </p>
        </div>
        <div class="dropdown-block-body__carousel">
            <div class="carousel__item">
                <h3 class="roboto-h3 roboto-h3--grey"> {{'session.moment.morning'|trans}}: {{session.morningStartTime|date('H')}}h{{session.morningStartTime|date('i')}} - {{session.morningEndTime|date('H')}}h{{session.morningEndTime|date('i')}}</h3>
                <p class="josefin-label josefin-label--grey">Feuille d'émargement</p>
                <button class="small-btn small-btn--filled-yellow">Envoyer la signature</button>
            </div>
            <div class="carousel__item">
                <h3 class="roboto-h3 roboto-h3--grey">{{'session.moment.afternoon'|trans}}: {{session.afternoonStartTime|date('H')}}h{{session.afternoonStartTime|date('i')}} - {{session.afternoonEndTime|date('H')}}h{{session.afternoonEndTime|date('i')}}</h3>
                <p class="josefin-label josefin-label--grey">Feuille d'émargement</p>
                <button class="small-btn small-btn--filled-yellow">Envoyer la signature</button>
            </div>
        </div>
        {% if is_granted("ROLE_ADMIN") %}
            {% include 'user/list-teaser.html.twig' with {'training' : false, 'session': true, 'participants': participants, 'trainingId': trainingId} %}
        {% endif %}
    </article>
</article>