/* ------------------------ */
/*         DOCUMENTS        *
/* ------------------------ */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.documents {
  width: 50%;
  margin: 60px 0 10px;
  
  &__header {
    @include center-content-flex('align');
    h2 {
      margin: 0 20px 0 0;
    }
  }

  &__body {
    width: 90%;
    margin: 0 0 0 25px;
  }

  &__item {
    @include center-content-flex('align');
    justify-content: space-between;
    margin: 20px 0;
  }

  &__actions {
    button {
      margin: 0 7px;
    }
  }
}