/* ------------------------ */
/*      DROPDOWN BLOCK      *
/* ------------------------ */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.dropdown-block-header {
  @include center-content-flex('align');
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin: 30px 0;
  padding: 0 20px;
  border-radius: 10px;
  background-color: $color-blue-light;

  &__sign {
    @include center-content-flex('align');

    p {
      margin: 0 30px 0 0;
    }

    button {
      margin: 0 7px;
    }
  }

  &__actions {
    @include center-content-flex('align');
    justify-content: flex-start;
    width: 310px;

    button {
      margin: 0 8px;
    }

    p {
      margin: 0 0 0 10px;
    }
  }

  &__status {
    @include center-content-flex('align');
    justify-content: flex-start;
    width: 110px;
  }

  &__state {
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
    border-radius: 100%;

    &--red {
      background-color: $color-red;
    }

    &--orange {
      background-color: $color-orange;
    }

    &--green {
      background-color: $color-green;
    }
  }
}

.dropdown-block-body {
  width: 100%;
  height: auto;
  padding: 30px 70px;
  border: 1px solid $color-blue-dark;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  &__carousel {
    margin: 40px auto;
  }

  .participants {
    width: auto;
  }
}