/* ------------------------ */
/*    INTRODUCTION BLOCK    *
/* ------------------------ */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.introduction-block {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: $color-blue-dark;
  border-radius: 10px;
}