/* ------------------------ */
/*        LARGE BLOCK       *
/* ------------------------ */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.large-block {
  position: relative;
  width: 100%;
  height: auto;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 1px 20px 0px #cfcfcf;

  &__subtitle {
    margin: 25px 0 -30px 0;
  }

  .see-more-link {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}