/* ------------------------ */
/*       MEDIUM BLOCK       *
/* ------------------------ */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.medium-block {
  width: calc(65% - 20px);
  max-width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 1px 20px 0px #cfcfcf;

  h2 {
    margin: 0 0 20px 0;
  }

  &__header {
    @include center-content-flex('justify');
    flex-direction: column;
    width: 100%;
    height: 90px;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: $color-brown;

    .header {
      &__top {
        @include center-content-flex('align');
        margin: 0 0 10px 0;

        h3 {
          margin: 0 20px 0 0;
        }
      }

      &__bottom {
        @include center-content-flex('align');
        justify-content: space-between;
      }
    }
  }

  &__body {
    @include center-content-flex('justify');
    flex-direction: column;
    width: 100%;
    margin: 20px 0 0 0;

    h3 {
      margin: 0 0 10px 0;
    }

    .body {
      &__item {
        @include center-content-flex('align');
        justify-content: space-between;
        margin: 15px 0;
      }
    }
  }
}