/* ------------------------ */
/*       PARTICIPANTS       *
/* ------------------------ */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.participants {
  margin: 60px 0 10px;
  
  &__header {
    @include center-content-flex('align');
    h2 {
      margin: 0 20px 0 0;
    }
  }

  &__body {
    width: auto;
    margin: 0 0 0 25px;
  }

  &__item {
    @include center-content-flex('align');
    justify-content: space-between;
    margin: 20px 0;
    width: 300px;
    .group-btn{
      display: flex;
      align-items: center;
      button{
        &+button{
          margin-left: 15px;
        }
      }
    }
  }
}