/* ------------------------ */
/*       SESSIONS LIST      *
/* ------------------------ */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.sessions-list {
  margin: 60px 0 30px;
  width: 100%;
  &__header {
    @include center-content-flex('align');

    h2 {
      margin: 0 30px 0 0;
    }
  }

  &__body {
    .dropdown-block-header {
      margin: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__item {
    margin: 40px 0;
  }
}