/* ------------------------ */
/*        SMALL BLOCK       *
/* ------------------------ */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.small-block {
  width: calc(35% - 20px);
  height: 380px;
  margin: 0 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 1px 20px 0px #cfcfcf;

  .roboto-h1 {
    margin: 30px 0;
  }
}