/* ------------------------ */
/*         GENERAL          *
/* ------------------------ */

body {
	background-color: #FAFAFA;
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.main-content {
	width: calc(100% - 225px);
	padding: 30px;
	box-sizing: border-box;
}