/* ------------------------ */
/*           MIXINS         *
/* ------------------------ */

// Positions

// Centering element (can work with position fixed)
@mixin center-absolute($type: null, $position: absolute) {
  @if $type=='none' {
    top: initial;
    left: initial;
    transform: none;
  }

  @else {
    position: $position;

    @if $type=='x' {
      left: 50%;
      transform: translateX(-50%);
    }

    @else if $type=='y' {
      top: 50%;
      transform: translateY(-50%);
    }

    @else {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

// Centering element with flexbox
@mixin center-content-flex($type: null, $display: flex) {
  display: $display;

  @if $type=='justify' {
    justify-content: center;
  }

  @else if $type=='align' {
    align-items: center;
  }

  @else {
    align-items: center;
    justify-content: center;
  }
}