/* ------------------------ */
/*         VARIABLES        *
/* ------------------------ */

// Font-family
$font-josefin: 'Josefin Sans', sans-serif;
$font-puritan: 'Puritan', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// Font-weight
$fw-thin:         100;
$fw-hairline:     100;
$fw-extralight:   200;
$fw-ultralight:   200;
$fw-light:        300;
$fw-normal:       400;
$fw-book:         400;
$fw-regular:      400;
$fw-roman:        400;
$fw-medium:       500;
$fw-semibold:     600;
$fw-demibold:     600;
$fw-bold:         700;
$fw-extrabold:    800;
$fw-heavy:        800;
$fw-ultrabold:    900;
$fw-black:        900;
$fw-ultra:        900;
$fw-ultrablack:   900;
$fw-extraultra:   900;

// Colors
$color-black: #000000;
$color-white: #FFFFFF;
$color-brown: #AE895D;
$color-grey: #333333;
$color-grey-light: #979797;
$color-blue-light: #122D4A;
$color-blue-dark: #06172B;
$color-yellow: #E79C25;
$color-red: #D90000;
$color-orange: #D98200;
$color-green: #1ED900;

// Media queries
$breakpoints: ('xs': 320px, 'sm': 480px, 'md': 768px, 'lg': 1024px, 'xl': 1280px, '2xl': 1440px, '3xl': 1920px);