/* ------------------------ */
/*          HEADER          *
/* ------------------------ */

@import '../config/variables.scss';
@import '../config/mixins.scss';

.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 225px;
  background-color: $color-blue-light;

  &__logo {
    @include center-absolute('x');
    margin: 30px 0 0 0;
  }

  &__nav {
    margin: 310px 0 0 20px;

    &-item {
      margin: 30px 0;
      
      &.is-active {
        margin: 50px 0;
        color: $color-brown;
      }
    }
  }
}