{% extends 'base.html.twig' %}

{% block body %}

    <div class="introduction-block user-formations__introduction-block">
        <h1 class="roboto-h3 roboto-h3--white">Prochaine session:</h1>
        <p class="josefin-caption josefin-caption--white">Anglais - NV1 <span>12/20/2021</span></p>
        <button class="regular-filled-btn regular-filled-btn--bordered-white">Cliquez ici</button>
    </div>

    <div class="user-formations__blocks">
        <a href="#" class="regular-link regular-link--large regular-link--prev regular-link--black go-back-link">Retour à la page d'accueil</a>
        <div class="sessions-list">
            <div class="sessions-list__body">
                <div class="sessions-list__item">
                    <div class="dropdown-block-header">
                        <p class="josefin-subtitle josefin-subtitle--white">Apprendre la langue Anglaise NV 2</p>
                        <div class="dropdown-block-header__actions">
                            <p class="josefin-subtitle josefin-subtitle--white">12 février 2021</p>
                        </div>
                        <div class="dropdown-block-header__status">
                            <div class="dropdown-block-header__state dropdown-block-header__state--orange"></div>
                            <p class="josefin-subtitle josefin-subtitle--white">en cours</p>
                        </div>
                        <img src="{{ asset('build/images/down-chevron.svg') }}" alt="" />
                    </div>
                    <div class="dropdown-block-body">
                        <div class="dropdown-block-body__top">
                            <div class="header__item header__item--formation roboto-h4 roboto-h4--grey-light">LA FORMATION</div>
                            <div class="header__item header__item--sessions roboto-h4 roboto-h4--grey-light">MES SESSIONS</div>
                            <div class="header__item header__item--results roboto-h4 roboto-h4--grey-light">MES RÉSULTATS</div>
                        </div>
                        <div class="dropdown-block-body__bottom">
                            <div class="formations-details">
                                <div class="formations-details__infos">
                                    <div class="teacher">
                                        <p class="josefin-subtitle josefin-subtitle--grey">Intervenant:</p>
                                        <p class="josefin-caption josefin-caption--light josefin-caption--grey teacher__name">Jacques Martin</p>
                                    </div>
                                    <p class="josefin-subtitle josefin-subtitle--grey">Durée: <span>15h</span></p>
                                </div>
                                <div class="formations-details__description">
                                    <h2 class="josefin-subtitle josefin-subtitle--grey">Objectifs de la formation:</h2>
                                    <p class="josefin-caption josefin-caption--light josefin-caption--grey">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor odio gravida viverra sit nibh sollicitudin in urna. Consectetur turpis ornare vivamus egestas at. Condimentum morbi purus egestas nunc tempus elementum id lectus eu. Mauris, sed diam magna volutpat viverra pellentesque purus.
                                    </p>
                                </div>
                                <div class="medium-block__header">
                                    <div class="header__top">
                                        <h3 class="roboto-h3 roboto-h3--white">Maintenant:</h3> <span class="josefin-subtitle josefin-subtitle--white">5 mins restantes</span>
                                    </div>
                                    <div class="header__bottom">
                                        <p class="josefin-caption josefin-caption--light josefin-caption--white">Session 3: 9h-12h</p>
                                        <button class="small-btn small-btn--filled-white">Cliquez ici pour signer</button>
                                    </div>
                                </div>
                                <h3 class="josefin-subtitle josefin-subtitle--grey">Mes documents signés</h3>
                                <div class="documents">
                                    <div class="documents__body">
                                        <div class="documents__item">
                                            <p class="josefin-caption josefin-caption--light josefin-cation--grey">Convention numéro 1234535622</p>
                                            <div class="documents__actions">
                                                <button class="see-icon see-icon--filled-blue"></button>
                                                <button class="print-icon print-icon--filled-blue"></button>
                                                <button class="share-icon share-icon--filled-blue"></button>
                                            </div>
                                        </div>
                                        <div class="documents__item">
                                            <p class="josefin-caption josefin-caption--light josefin-cation--grey">Programme NV-1 courses</p>
                                            <div class="documents__actions">
                                                <button class="see-icon see-icon--filled-blue"></button>
                                                <button class="print-icon print-icon--filled-blue"></button>
                                                <button class="share-icon share-icon--filled-blue"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="session-details">
                                <div class="session-details__list roboto-h4 roboto-h4--grey-light">
                                    <div class="session-details__item">
                                        <p class="">SESSION 1</p>
                                        <p>01/02/2021</p>
                                    </div>
                                    <div class="session-details__item">
                                        <p class="">SESSION 2</p>
                                        <p>02/02/2021</p>
                                    </div>
                                    <div class="session-details__item">
                                        <p>SESSION 3</p>
                                        <p>06/02/2021</p>
                                    </div>
                                    <div class="session-details__item">
                                        <p>SESSION 4</p>
                                        <p>09/02/2021</p>
                                    </div>
                                </div>
                                <div class="session-details__slider-block">
                                    <div class="session-details__carousel">
                                        <div class="carousel__item">
                                            <p class="roboto-h2 roboto-h2--grey">
                                                Session 2
                                            </p>
                                            <p class="josefin-subtitle josefin-subtitle--grey">02/02/2021</p>
                                            <div class="carousel__session-wrapper">
                                                <div class="carousel__session">
                                                    <h3 class="roboto-h3 roboto-h3--grey">Matin - 9h 12h</h3>
                                                    <p class="josefin-caption josefin-caption--regular josefin-caption--grey carousel__session-text">But de la session : Apprendre l’anglais tout en découvrant une nouvelle manière d’étudier et de comprendre la langue</p>
                                                    <p class="josefin-label josefin-label--grey carousel__session-paper">Feuille d'émargement</p>
                                                    <button class="small-btn small-btn--filled-yellow carousel__session-sign">Signez ici</button>
                                                </div>
                                                <div class="carousel__session">
                                                    <h3 class="roboto-h3 roboto-h3--grey">Après-Midi - 13h 17h</h3>
                                                    <p class="josefin-caption josefin-caption--regular josefin-caption--grey carousel__session-text">But de la session : Apprendre l’anglais tout en découvrant une nouvelle manière d’étudier et de comprendre la langue</p>
                                                    <p class="josefin-label josefin-label--grey carousel__session-paper">Feuille d'émargement</p>
                                                    <button class="small-btn small-btn--filled-yellow carousel__session-sign">Signez ici</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel__item">
                                            <p class="roboto-h2 roboto-h2--grey">
                                                Session 3
                                            </p>
                                            <p class="josefin-subtitle josefin-subtitle--grey">05/02/2021</p>
                                            <div class="carousel__session-wrapper">
                                                <div class="carousel__session">
                                                    <h3 class="roboto-h3 roboto-h3--grey">Matin - 9h 12h</h3>
                                                    <p class="josefin-caption josefin-caption--regular josefin-caption--grey carousel__session-text">But de la session : Apprendre l’anglais tout en découvrant une nouvelle manière d’étudier et de comprendre la langue</p>
                                                    <p class="josefin-label josefin-label--grey carousel__session-paper">Feuille d'émargement</p>
                                                    <button class="small-btn small-btn--filled-yellow carousel__session-sign">Signez ici</button>
                                                </div>
                                                <div class="carousel__session">
                                                    <h3 class="roboto-h3 roboto-h3--grey">Après-Midi - 13h 17h</h3>
                                                    <p class="josefin-caption josefin-caption--regular josefin-caption--grey carousel__session-text">But de la session : Apprendre l’anglais tout en découvrant une nouvelle manière d’étudier et de comprendre la langue</p>
                                                    <p class="josefin-label josefin-label--grey carousel__session-paper">Feuille d'émargement</p>
                                                    <button class="small-btn small-btn--filled-yellow carousel__session-sign">Signez ici</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="result-details">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sessions-list__item">
                    <div class="dropdown-block-header">
                        <p class="josefin-subtitle josefin-subtitle--white">Apprendre la langue Anglaise NV 3</p>
                        <div class="dropdown-block-header__actions">
                            <p class="josefin-subtitle josefin-subtitle--white">12 février 2021</p>
                        </div>
                        <div class="dropdown-block-header__status">
                            <div class="dropdown-block-header__state dropdown-block-header__state--red"></div>
                            <p class="josefin-subtitle josefin-subtitle--white">à venir</p>
                        </div>
                        <img src="{{ asset('build/images/down-chevron.svg') }}" alt="" />
                    </div>
                </div>
                <div class="sessions-list__item">
                    <div class="dropdown-block-header">
                        <p class="josefin-subtitle josefin-subtitle--white">Apprendre la langue Anglaise NV 3</p>
                        <div class="dropdown-block-header__actions">
                            <p class="josefin-subtitle josefin-subtitle--white">12 février 2021</p>
                        </div>
                        <div class="dropdown-block-header__status">
                            <div class="dropdown-block-header__state dropdown-block-header__state--green"></div>
                            <p class="josefin-subtitle josefin-subtitle--white">réalisée</p>
                        </div>
                        <img src="{{ asset('build/images/down-chevron.svg') }}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sign-modal">
        <div class="sign-modal__wrapper">
            <button class="close-sign-btn">
                <img src="{{ asset('build/images/cross-icon.png') }}" alt="" />
            </button>
            <div class="sign-modal__paper">
                <h2 class="roboto-h2 roboto-h2--grey">
                    Feuille d'émargement
                </h2>
                <p class="roboto-h3 roboto-h3--grey sign-modal__session">Session 2</p>
                <p class="josefin-subtitle josefin-subtitle--grey">02/02/2021 - MATIN</p>
                <img src="{{ asset('build/images/signature.png') }}" alt="" />
                <div class="sign-modal__signature-block">
                    <div class="signature-block__left">
                        <p class="josefin-label josefin-label--brown">Votre signature</p>
                        <div class="signature-block__signature"></div>
                    </div>
                    <button class="regular-filled-btn regular-filled-btn--filled-yellow carousel__session-sign">Signez</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}