{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user') }}
{% endblock %}

{% block body %}
<a href="{{ path('homepage') }}" class="regular-link regular-link--large regular-link--prev regular-link--black formations-details__back-btn">{{ 'buttons.back.home'|trans }}</a>
    <section class="user-details__header">
        <h1 class="roboto-h1 roboto-h1--blue">{{ user.firstName }} {{ user.lastName }}</h1>
        <a href="{{path('edit_user', {'id' : user.id})}}" class="edit-icon edit-icon--filled-blue"></a>
        <a href="{{path('delete_user', {'id' : user.id})}}" class="delete-icon delete-icon--filled-blue"></a>
    </section>
    <section class="user-details__infos">
        <ul>
            <li><p class="josefin-caption josefin-caption--regular josefin-caption--grey">{{'user.email'| trans}} {{user.email}}</p></li>
            <li><p class="josefin-caption josefin-caption--regular josefin-caption--grey">{{'user.birthdate'| trans}} {{user.birthdate}}</p></li>
            <li><p class="josefin-caption josefin-caption--regular josefin-caption--grey">{{'user.phone'| trans}} {{user.phone}}</p></li>
            <li><p class="josefin-caption josefin-caption--regular josefin-caption--grey"> {{'user.profil'| trans}}{{user.profil}}</p></li>
            <li>
                <p class="josefin-caption josefin-caption--regular josefin-caption--grey">
                {{'user.role'| trans}}
                {% for role in user.roles %}
                    {{role}}
                {% endfor %}
                </p>
            </li>
        </ul>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trainings') }}
{% endblock %}