<section class="participants">
    <div class="participants__header">
        <h2 class="josefin-subtitle josefin-subtitle--grey">Voir la liste des participants</h2>
        {% if training is same as(true) %}
            <a href="{{ path('add_participant_training', {'id': trainingId}) }}" class="small-btn small-btn--filled-yellow">Ajouter un participant</a>
        {% elseif session is same as(true) %}
            <a href="" class="small-btn small-btn--filled-yellow">Ajouter un participant</a>
        {% endif %}
    </div>
    <ul class="participants__body">
       {% for participant in participants %}
            <li class="participants__item">
            <p class="josefin-caption josefin-caption--light josefin-caption--grey">{{ participant.firstName }} {{ participant.lastName }}</p>
            <div class="group-btn">
            {% if training is same as(true) %}
                <a href="{{ path('add_participant_training', {'id': trainingId}) }}" class="edit-icon edit-icon--filled-blue"></a>
            {% elseif session is same as(true) %}
                <button class="small-btn small-btn--filled-grey">Signé</button>
                <button class="delete-icon delete-icon--filled-blue"></button>
            {% endif %}
            </div>
        </li>
       {% endfor %}
    </ul>
</section>