{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('trainings') }}
{% endblock %}

{% block body %}
        <a href={{ path('homepage') }} class="regular-link regular-link--large regular-link--prev regular-link--black formations-list__back-btn">{{ 'buttons.back.home'|trans }}</a>
        <section>
            <a href="{{ path('app_register') }}" class="regular-filled-btn regular-filled-btn--filled-blue formations-list__add-btn">Ajouter un utilisateur</a>
        </section>
        {% for user in users %}
            {% include 'user/teaser.html.twig' with {'user': user} only %}
        {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trainings') }}
{% endblock %}