<section class="dropdown-block-header">
    <a href="{{ path('user', { 'id': user.id }) }}" class="josefin-subtitle josefin-subtitle--white">{{ user.firstName }} {{ user.lastName}}</a>
    <div class="dropdown-block-header__actions">
        <a href="{{path('edit_user', {'id' : user.id})}}" class="edit-icon edit-icon--filled-white"></a>
        <a href="{{path('delete_user', {'id' : user.id})}}" class="delete-icon delete-icon--filled-white"></a>
    </div>
</section>
