/* ------------------------ */
/*          BUTTONS         *
/* ------------------------ */

@import '../config/variables.scss';
@import '../config/mixins.scss';

// Reset button
%o-reset-btn {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  border: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  line-height: normal;
  cursor: pointer;
}

// Regular filled buttons
.regular-filled-btn {
  @extend %o-reset-btn;
  font-family: $font-puritan;
  font-weight: $fw-bold;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 10px 20px;

  &--filled-blue {
    background-color: $color-blue-dark;
    color: $color-white;
  }

  &--filled-white {
    background-color: $color-white;
    color: $color-blue-dark;
  }

  &--filled-yellow {
    background-color: $color-yellow;
    color: $color-white;
  }

  &--bordered-white {
    border: 1px solid $color-white;
    color: $color-white;
  }
}

// Regular links
.regular-link {
  @extend %o-reset-btn;
  position: relative;
  font-family: $font-puritan;
  font-weight: $fw-bold;

  &::after {
    @include center-absolute('y');
    content: '';
    display: inline-block;
    height: 10px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--large {
    font-size: 16px;
  }

  &--small {
    font-size: 14px;
  }

  &--prev {
    &::after {
      left: -18px;
      width: 11px;
    }
  }

  &--next {
    &::after {
      right: -14px;
      width: 7px;
    }
  }

  &--grey {
    color: $color-grey;

    &::after {
      background-image: url(../../files/images/right-grey-chevron.svg);
    }
  }

  &--blue-dark {
    color: $color-blue-dark;

    &::after {
      background-image: url(../../files/images/right-blue-dark-chevron.svg);
    }
  }

  &--white {
    color: $color-white;

    &::after {
      background-image: url(../../files/images/right-white-chevron.svg);
    }
  }

  &--black {
    color: $color-black;

    &::after {
      background-image: url(../../files/images/left-black-arrow.svg);
    }
  }
}

// Small buttons
.small-btn {
  @extend %o-reset-btn;
  font-family: $font-puritan;
  font-weight: $fw-bold;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 5px 10px;

  &--filled-blue {
    background-color: $color-blue-dark;
    color: $color-white;
  }

  &--filled-white {
    background-color: $color-white;
    color: $color-blue-dark;
  }

  &--filled-yellow {
    background-color: $color-yellow;
    color: $color-white;
  }
  
  &--filled-grey {
    background-color: $color-grey-light;
    color: $color-white;
    cursor: inherit;
  }

  &--bordered-white {
    border: 1px solid $color-white;
    color: $color-white;
  }
}

// Icons buttons
.see-icon {
  @extend %o-reset-btn;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;

  &--filled-blue {
    background-image: url(../../files/images/filled-blue-see-icon.svg);
  }

  &--filled-white {
    background-image: url(../../files/images/filled-white-see-icon.svg);
  }

  &--bordered-white {
    background-image: url(../../files/images/bordered-white-see-icon.svg);
  }
}

.print-icon {
  @extend %o-reset-btn;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;

  &--filled-blue {
    background-image: url(../../files/images/filled-blue-print-icon.svg);
  }

  &--filled-white {
    background-image: url(../../files/images/filled-white-print-icon.svg);
  }

  &--bordered-white {
    background-image: url(../../files/images/bordered-white-print-icon.svg);
  }
}

.share-icon {
  @extend %o-reset-btn;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;

  &--filled-blue {
    background-image: url(../../files/images/filled-blue-share-icon.svg);
  }

  &--filled-white {
    background-image: url(../../files/images/filled-white-share-icon.svg);
  }

  &--bordered-white {
    background-image: url(../../files/images/bordered-white-share-icon.svg);
  }
}

.zoom-icon {
  @extend %o-reset-btn;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  
  &--filled-blue {
    background-image: url(../../files/images/filled-blue-zoom-icon.svg);
  }

  &--filled-white {
    background-image: url(../../files/images/filled-white-zoom-icon.svg);
  }

  &--bordered-white {
    background-image: url(../../files/images/bordered-white-zoom-icon.svg);
  }
}

.delete-icon {
  display: inline-block;
  @extend %o-reset-btn;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;

  &--filled-blue {
    background-image: url(../../files/images/filled-blue-delete-icon.svg);
  }

  &--filled-white {
    background-image: url(../../files/images/filled-white-delete-icon.svg);
  }

  &--bordered-white {
    background-image: url(../../files/images/bordered-white-delete-icon.svg);
  }
}

.edit-icon {
  display: inline-block;
  @extend %o-reset-btn;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;

  &--filled-blue {
    background-image: url(../../files/images/filled-blue-edit-icon.svg);
  }

  &--filled-white {
    background-image: url(../../files/images/filled-white-edit-icon.svg);
  }

  &--bordered-white {
    background-image: url(../../files/images/bordered-white-edit-icon.svg);
  }
}

.dropdown-icon {
  @extend %o-reset-btn;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;

  &--up {
    background-image: url(../../files/images/up-chevron.svg);
  }

  &--down {
    background-image: url(../../files/images/down-chevron.svg);
  }
}