/* ------------------------ */
/*          INPUTS          *
/* ------------------------ */

@import '../config/variables.scss';
@import '../config/mixins.scss';

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select,
textarea {
  width: 100%;
  -webkit-appearance: none;
  height: 40px;
  padding: 0 5px;
  border-radius: 4px;
  background-color: $color-white;
  border: 1px solid $color-blue-dark;
  color: $color-blue-dark;
  font-family: $font-josefin;
  font-weight: $fw-light;
  font-size: 18px;
}

select {
  width: 100%;
  height: 42px;
  padding: 0 30px 0 0;
  background-image: url(../../files/images/select-chevron.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center right 10px;
}

textarea {
  width: 100%;
  height: 140px;
  padding: 10px 5px;
}