/* ------------------------ */
/*        TYPOGRAPHY        *
/* ------------------------ */

@import '../config/variables.scss';
@import '../config/mixins.scss';

// Roboto headlines
.roboto-h1 {
  font-family: $font-roboto;
  font-weight: $fw-bold;
  font-size: 30px;

  &--grey {
    color: $color-grey;
  }

  &--white {
    color: $color-white;
  }

  &--brown {
    color: $color-brown;
  }
}

.roboto-h2 {
  font-family: $font-roboto;
  font-weight: $fw-bold;
  font-size: 25px;

  &--grey {
    color: $color-grey;
  }

  &--white {
    color: $color-white;
  }

  &--brown {
    color: $color-brown;
  }
}

.roboto-h3 {
  font-family: $font-roboto;
  font-weight: $fw-bold;
  font-size: 20px;

  &--grey {
    color: $color-grey;
  }

  &--white {
    color: $color-white;
  }

  &--brown {
    color: $color-brown;
  }
}

.roboto-h4 {
  font-family: $font-roboto;
  font-weight: $fw-bold;
  font-size: 18px;

  &--grey-light {
    color: $color-grey-light;
  }

  &--yellow {
    color: $color-yellow;
  }
}

// Josefin Sans
.josefin-subtitle {
  font-family: $font-josefin;
  font-weight: $fw-semibold;
  font-size: 20px;

  &--grey {
    color: $color-grey;
  }

  &--white {
    color: $color-white;
  }
}

.josefin-caption {
  font-family: $font-josefin;
  font-size: 18px;

  &--regular {
    font-weight: $fw-regular;
  }

  &--light {
    font-weight: $fw-light;
  }

  &--grey {
    color: $color-grey;
  }

  &--white {
    color: $color-white;
  }
}

.josefin-text  {
  font-family: $font-josefin;
  font-weight: $fw-regular;
  font-size: 16px;

  &--grey {
    color: $color-grey;
  }

  &--white {
    color: $color-white;
  }
}

.josefin-label {
  font-family: $font-josefin;
  font-weight: $fw-medium;
  font-size: 16px;

  &--grey {
    color: $color-grey;
  }

  &--brown {
    color: $color-brown;
  }
}

.josefin-small-paragraph {
  font-family: $font-josefin;
  font-weight: $fw-regular;
  font-size: 14px;
  
  &--grey {
    color: $color-grey;
  }

  &--white {
    color: $color-white;
  }
}

// Puritan
.puritan-small {
  font-family: $font-puritan;
  font-weight: $fw-bold;
  font-size: 14px;

  &--grey {
    color: $color-grey;
  }

  &--white {
    color: $color-white;
  }
}

.puritan-medium {
  font-family: $font-puritan;
  font-weight: $fw-bold;
  font-size: 16px;

  &--grey {
    color: $color-grey;
  }

  &--white {
    color: $color-white;
  }
}

.puritan-large {
  font-family: $font-puritan;
  font-weight: $fw-bold;
  font-size: 18px;

  &--grey  {
    color: $color-grey;
  }

  &--white {
    color: $color-white;
  }

  &--yellow {
    color: $color-yellow;
  }
}